/* Estilos para los botones del carrusel chico generales */
.button-carrousel-chico {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0.6; /* Hace la imagen menos opaca (40% visible) */
}

.button-prev-chico {
    left: 0px; /* Botón izquierdo pegado al borde */
    rotate: 180deg;
}

.button-next-chico {
    right: 15px; /* Botón derecho pegado al borde */
}

.button-carrousel-chico:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* Estilos para los botones del carrusel grande generales */
/* Estilos para los botones del carrusel grande generales */
.button-carrousel-grande {
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0.6;
}

/* Estilos para el boton previo/izquierdo del carrusel grande */
.button-prev-grande {
    left: 0px; /* Botón izquierdo pegado al borde */
    rotate: 180deg;
}

/* Estilos para el boton siguiente/derecho del carrusel grande */
.button-next-grande {
    right: 15px; /* Botón derecho pegado al borde */
}

/* Efecto hover para los botones del carrusel grande */
.button-carrousel-grande:hover {
    transform: scale(1.1);
    opacity: 1;
}

