body {
    background-color: #DAC8A2;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    text-align: center;
}



/* HEADER */
/* Estilos para la barra de navegación */
header {
    background-color: #8B5F4C;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: #381505 3px solid;
}

/* Estilos grid para el navbar */
.grid-navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    max-height: 80px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Grupo del título central (Retro + Logo + Games) */
.titulo-grupo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grupo de botones derecha (Ayuda + Perfil) */
.botones-derecha {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilos para cada elemento del navbar */
.menu-hamburguesa,
.menu-ayuda,
.menu-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* medidas y estilos de las imagenes de los botones */
.menu-hamburguesa img,
.menu-ayuda img,
.menu-perfil img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Efecto hover para las imágenes de los botones */
.menu-hamburguesa img:hover,
.menu-ayuda img:hover,
.menu-perfil img:hover {
    transform: scale(1.1);
}

/* Estilos para el título y logo */
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el texto del título */
.titulo h1 {
    color: #ffffff;
    margin: 0;
    font-family: 'Jersey 15';
    font-weight: 400;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para la imagen del logo */
.titulo img {
    width: 60px;
    height: 55px;
}

/* BOTON JUGAR */
.boton-jugar {
    background-color: #4169E1 ;
    filter: brightness(1.4);
    width: 30px;
    height: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px; /* Bordes muy redondeados */
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(123, 104, 238, 0.3); /* Sombra azulada */
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover más oscuro */
.boton-jugar:hover {
    background-color: #4169E1;
    filter: brightness(1);
    transform: translateY(-2px); /* Se eleva un poco */
    box-shadow: 0 6px 20px rgba(93, 76, 219, 0.4); /* Sombra más intensa */
}

/* Cuando se presiona */
.boton-jugar:active {
    transform: translateY(0); /* Vuelve a la posición */
    box-shadow: 0 2px 10px rgba(93, 76, 219, 0.3);
}